<div class='banner_showpage ' style="background-image: url('https://images.unsplash.com/photo-1457524461416-8796b6d23efb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80 750w')">
  <div class="container">
    <h1 class='mt-3 text-light'>Your bookings</h1>
    <p></p>
  </div>
</div>

<div class='container'>

  <div class="card card-header mt-3 mb-3 border-radius border">
    Overview
  </div>
  <% @bookings.each do |booking| %>
  <div class="card mb-2">
    <p class="card-text">
      <div class='d-flex flex-row justify-content-between bd-highlight '>

   <div class="col-sm">
    <p></p>
    <p> TARGET: </p>
    <p>Name: <%= booking.target_name %></p>
    <p>Address: <%= booking.target_address %></p>
   </div >

  <div class="col-sm ">
    <p></p>
    <p></p>
    <p> DATES: </p>
    <p>Start Date: <%= booking.start_date %></p>
    <p>End Date: <%=  booking.end_date %></p>
  </div>

  <div class="col-sm ">
    <p></p>
    <p> UNIT: </p>
    <p> Unit id <%=  booking.unit_id %></p>
  </div>
  <a href="#" class="btn btn-secondary">Click for unit details</a>
    </div>
  </div>
  <% end %>
</div>


