<div class='banner_show ' style="background-image: url('https://ksr-ugc.imgix.net/assets/011/221/272/390f81f43ef2f84bda1987792e3aad90_original.jpg?ixlib=rb-2.1.0&w=700&fit=max&v=1463423047&auto=format&frame=1&q=92&s=0290d890dcdf0f74c40ae948a3d095a4')">
  <!-- <div class="container">
    <h1 class='mt-3 text-light'>Your bookings</h1>
    <p></p>
  </div> -->
</div>

<div class='container'>
  <div class="card card-header font-weight-bold mt-3 mb-3 border-radius border  shadow-sm p-4 mb-1">
Your Bookings  </div>


 <!-- mapbox -->
  <div
    id="map"
    style="width: 100%;
    height: 300px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>

<% @bookings.each do |booking| %>
    <div class="card mt-2 mb-2  shadow-sm p-3">
      <p class="card-text">
      <div class='d-flex flex-row justify-content-between bd-highlight '>
        <div class="col-sm">
          <p></p>
          <p class="font-weight-bold"> TARGET </p>
          <p>Name: <%= booking.target_name %></p>
          <p>Address: <%= booking.target_address %></p>
        </div >
        <div class="col-sm ">
          <p></p>
          <p></p>
          <p class="font-weight-bold"> DUE DATE </p>
          <p><%= booking.start_date %></p>
        </div>

        <div class="col-sm  ">
          <p></p>
          <p class="font-weight-bold"> UNIT </p>
       <!--     <p> <%= image_tag  booking.unit.photo %></p> -->
          <p> Name: <%= booking.unit.name %></p>
          <p> Description: <%= booking.unit.description %></p>
          <p> ID: <%= booking.unit.id %></p>
        </div>

        <div class="col-sm text-right ">

        <p class="btn btn-white"><%= link_to "Delete Booking 🗑", booking_path(booking), method: 'delete', data: {confirm: "Deleting the unit. Are you sure?"} %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>


