<div class="box">
  <div class="box-overlay">
    <h4>Categories</h4>
  </div>

  <div class="container d-flex w-100 justify-content-between mb-3">
    <a class="btn btn-gradient mt-5" href="#">Relationship issues</a>
    <a class="btn btn-gradient mt-5" href="#">Financial problems</a>
    <a class="btn btn-gradient mt-5" href="#">Neighbour disputes</a>
    <a class="btn btn-gradient mt-5" href="#">Family issues</a>
  </div>
</div>
<!--
  <div class="cards">
    <% @units.each do |unit| %>
      <%= link_to unit_path(unit) do  %>
        <div class="unit-card">
          <img src="<%= unit.photo %> " alt="">
          <p><%= unit.category %></p>
        </div>
      <% end %>
    <% end %>
  </div>

 -->
<div class="box-scroll">
  <div class="cards-scroll">
    <% @units.each do |unit| %>
      <%= link_to unit_path(unit) do  %>
        <div class="unit-card">
          <img src="<%= unit.photo %> " alt="">
          <p><%= unit.category %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
  <p id="controlls"><<  >></p>

<!-- overflow-x: scroll;
overflow-y: hidden; -->
