
<div class="frame">
  <%= render 'shared/banner_landing' %>
  <%= render 'shared/box' %>



<!--   <div class="card_landing mt-2">
  <div class="pitch" id="pitch-for-units" style="text-align: center;">
    <div>
      <h4 class="pitch-title m-3 mr-5"><span style="color: white;", id ="pitch-text">Sometimes, words are enough.</h4>
      <h4 class="pitch-title m-3 mr-5"><span style="color: white;", id ="pitch-text">For all other times,</span> airTNT.</h4>
      <p></p>
      <p><%= link_to "Choose a Units",units_path, class: "btn btn-primary"  %></p>

      <h4 class="pitch-title mb-3"><span style="color: white;">Are you ready to change the world of</span> conflict resolution?</h4>

  <!--   <%if user_signed_in?%>
      <h4><%= link_to "Create a unit today!", new_unit_path, class: "btn btn-primary" %></h4>
      <%else%>
      <h4><%=link_to("Create a unit today!", new_user_registration_path, class: "btn btn-primary")%></h4>
      <%end%> -->
      </div>
    <!--  <%=image_tag("unit", height: "100%", width: "40%", class:"pitch-image")%> -->
  </div>

  </div>
</div>

</div>




