<h1>Units dashboard</h1>
<div class="box-scroll">
  <div class="cards-scroll">
    <% @units.each do |unit| %>
    <%= link_to unit_path(unit) do  %>
    <div class="unit-card">
      <div class="view overlay mask rgba-red-light">
        <img src="<%= unit.photo %> " alt="">
        <p><%= unit.category %></p>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
</div>
<div class="bg-white mt-3 shadow-sm p-3 mb-1">
  <p>PENDING BOOKING REQUESTS</p>
   <div class="box-scroll">
  <div class="cards-scroll">
    <% @units.each do |user_unit|
      user_unit.bookings.each do |booking| %>
      <%if booking.pending%>
      <div class="unit-card" style="text-align: center;">
        <h1><%=booking.target_name%></h1>
        <p><%=booking.target_address%></p>
        <p><%=booking.start_date%></p>
        <div class="d-flex justify-content-center">
          <%=link_to "Accept", booking_accept_path(booking), class:"btn btn-primary mr-2"%> <%=link_to "Decline", booking_decline_path(booking), class:"btn btn-primary mr-2"%>
        </div>
      </div>
      <%end%>
    <% end %>
    <%end%>
    </div>
  </div>