

<div class="container">
  <p class="header">Unit Overview & Booking Requests</p>
</div>

<div class="box-scroll">
  <div class="cards-scroll">
    <% @units.each do |unit| %>
    <%= link_to unit_path(unit) do  %>
    <div class="unit-card">
      <div class="view overlay mask rgba-red-light">
        <img src="<%= unit.photo %> " alt="">
        <p><%= unit.name %></p>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>


  <div class="container ">
  <!--   <p>Pending Booking Requests</p> -->
  </div>

    <div class="box-scroll-1">

      <div class="cards-scroll-1">
        <% @units.each do |user_unit|
          user_unit.bookings.each do |booking| %>
          <%if booking.pending%>
          <div class="unit-card-1" style="text-align: center;">



          <div>

          <div class="d-flex justify-content-center align-items-center">
            <div class='target_img mr-3'>
              <p><%= image_tag 'Target red.png' %></p>
            </div class="pl-3">
            <h1><%=booking.target_name%></h1>
          </div>

          <p><%=booking.target_address%></p>
          <p><%=booking.start_date%></p>
          <div class="d-flex justify-content-center">
            <%=link_to "Accept", booking_accept_path(booking), class:"btn btn-primary mr-2"%> <%=link_to "Decline", booking_decline_path(booking), class:"btn btn-primary mr-2"%>
          </div>
        </div>
        </div>
        <%end%>
        <% end %>
        <%end%>
      </div>

  </div>

   <div class="container mb-5">
    <p></p>
  </div>

