
<div class='container'>

<%= form_tag units_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a unit"
  %>
  <%= submit_tag "Search", class: "btn btn-primary mt-2" %>
  <%end%>
</div>

<div class="box-scroll">
  <div class="cards-scroll">
    <% @units.each do |unit| %>
    <%= link_to unit_path(unit) do  %>
    <div class="unit-card">
      <div class="view overlay mask rgba-red-light">
        <img src="<%= unit.photo %> " alt="">
        <p><%= unit.category %></p>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
</div>

