<div class='banner_new_unit' style="background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(1,1,1,0.7)), url(<%= @unit.photo %>)">
  <div class="container">
    <h1 class='mt-3 title_show'><%=  @unit.name %></h1>
    <p></p>
  </div>
</div>

<div class="show-container">
  <div class="container absolute-container">
    <div class="d-flex justify-content-between mb-0">

      <div class='info_form'>
        <div>
          <p class="title pb-3"><%=  @unit.name %></p>

          <div class="box">
          </div>
          <p> SPECIALIZED ON</p>
          <%= @unit.category %>
          <p></p>
        </div>

        <div>
          <p></p>
          <div class="box my-5">
          </div>
          <p>ABOUT THIS UNIT</p>
          <%= @unit.description %>
        </div>
        <div class="box mt-5">
        </div>
        <div class="d-flex justify-content-between font-weight-bold">
          <%if current_user == @unit.user%>
          <p><%= link_to "Delete Unit 🗑", units_path, method: :delete, data: {confirm: "Deleting the unit. Are you sure?"} %></p>
          <% end %>
        </div>
      </div>


      <% unless current_user == @unit.user%>
      <div class="unit_form mb-5">
        <p>Book this unit</p>
        <%= render 'form_book_unit', booking: @booking, unit: @unit %>
      </div>
      <%else%>
      <div class="unit_form shadow-sm p-3 mb-1">
        <p>PENDING BOOKING REQUESTS</p>
        <div class="box-scroll">
          <div class="cards-scroll">
            <% @unit.bookings.each do |booking| %>
            <%if booking.pending%>
              <div class="unit-card" style="text-align: center;">
                <h1><%=booking.target_name%></h1>
                <p><%=booking.target_address%></p>
                <p><%=booking.start_date%></p>
                <div class="d-flex justify-content-center">
                 <%=link_to "Accept", booking_accept_path(booking), class:"btn btn-primary mr-2", remote: true%> <%=link_to "Decline", booking_decline_path(booking), class:"btn btn-primary mr-2"%>
               </div>
              </div>
           <% end %>
           <% end %>
         </div>
       </div>
     </div>
   <%end%>
    </div>


 </div>
 </div>
